@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-dark-bg-color 125:text-[75%]
  }

  html {
    @apply scroll-smooth !important
  }

  body {
    @apply scroll-smooth
  }

  :root {
    color-scheme: light only;
}
}

@layer components {
  
  .menu-link {
    @apply text-darker-white text-base
    hover:font-semibold
  }

  .side-menu-container {
    @apply hidden col-span-3 md:inline mt-20 md:mt-32
  }

  .sections-container {
    @apply scroll-smooth col-span-12 grid grid-cols-8 gap-y-24 md:gap-y-32 md:col-span-9 mt-20 md:mt-32
  }

  .form-container {
    @apply col-span-full grid
  }

  .main-container {
    @apply scroll-smooth px-10 sm:px-5 md:px-4 w-screen md:w-full grid grid-cols-12 md:grid-cols-mainLayout gap-x-4 justify-center pb-24 md:pb-32
  }

  .contact-button {
    @apply flex text-darker-white text-base border 
    border-darker-white h-12 w-32 items-center justify-center
    rounded-full cursor-pointer hover:scale-110 hover:-translate-y-1
    hover:bg-darker-white hover:text-dark-bg-color transition-all hover:font-bold hover:border-transparent
 }

 .service-title {
  @apply text-darker-white text-2xl lg:text-3xl
}

 .timeline-year {
  @apply relative text-sm lg:text-base font-bold text-center bg-[#282828] py-2 px-4 mt-2 rounded-full
}

.timeline-description {
  @apply text-sm lg:text-base font-semibold leading-9
} 

  .methodology-step {
    @apply grid grid-cols-1 justify-items-center items-center md:items-start gap-2 md:gap-5
  }

  .methodology-icon-container {
    @apply flex items-center justify-center bg-[#FAD3FF] rounded-3xl z-20 h-16 w-16
  }

  .heart-icon-container {
    @apply relative items-center justify-center bg-[#FAD3FF] rounded-3xl h-16 w-16
  }

  .step-text-container {
    @apply grid grid-cols-1 gap-1 md:gap-3 justify-items-center
  }

  .step-title {
    @apply text-xl md:text-2xl text-[#1B1B1B] font-bold
  }

  .step-paragraph {
    @apply text-sm md:text-base text-[#6C6C6C] font-medium text-center
  }

  .t4y-empathy-card-title {
    @apply text-xl md:text-2xl text-[#ADADAD] font-bold text-center py-2 bg-[#242424] rounded-full
  }

  .t4y-empathy-card {
    @apply text-sm text-[#333333] font-semibold h-36 pt-2 px-2
  }

  .nav-active {
    @apply text-darker-white font-bold
  }

}